html, body {   
 width: 100%;   
height: 100%;   
font-family: "Helvetica Neue", Helvetica, sans-serif;   
color: #444;   
-webkit-font-smoothing: antialiased;    background: #f0f0f0;
}
form{
    margin: 0 auto;
    margin-top: 20px;
}
form.departments{
    margin-top: 10px;
    margin-left: 0%;
    text-align: center;
}

label {
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}
p a {
    font-size: 11px;
    color: #aaa;
    float: right;
    margin-top: -13px;
    margin-right: 20px;
}
p a:hover {
    color: #555;
}
input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}
input[type=email],
input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
}
#lower {
    background: #ecf2f5;
    width: 100%;
    height: 69px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}



#l_accountButton{
	float:left;
	margin-left:40px;
	margin-top:-20px;
	width:80px;
	height:30px;
}
#ca_accountButton{
	float:left;
	text-align: center;
	margin-left:75px;
	margin-top:10px;
	width:180px;
	height:30px;
}

#container {
    position: absolute;
    width: 340px;
    height: 500px;
    top: 45%;
    left: 50%;
    margin-top: -200px;
    margin-left: -170px;
	background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}   
.active {
	background-color:#096333;
}
ul {
	
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
footer{
	list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding: 1em;
    clear: left;
}

input#a:hover:not(.active) {
    background-color: #111;
}

.course_header{
	display:inline;
	float:left;
	font-variant: small-caps;
	text-align:left;
    margin: 5px;
    padding: 15px;
    color: #096333;
}
#loginHeader{
	display:inline;
	font-variant: small-caps;
	text-align:left;
    margin: 45%;
    padding: 15px;
    color: #096333;
    font-size: 40px;
}
#createAccountHeader{
	display:inline;
	font-variant: small-caps;
	text-align:left;
    margin: 38%;
    padding: 15px;
    color: #096333;
    font-size: 40px;
}
h1 {
	display:inline;
	font-variant: small-caps;
	text-align:left;
    margin: 5px;
    padding: 15px;
    color: #096333;
}
h3 {
	font-size:32px;
	display:inline;
	font-variant: small-caps;
	text-align:left;
    margin: 5px;
    padding: 15px;
    color: #096333;
}
.ratings{
	float:left;
	margin-left: 6%;
}
h2 {
	margin-top:125px;
    color: #096333;
    clear: both;
    text-align:center;
}
p1 {
    float: left;
    margin: 5px;
    padding: 15px;
    width: 42%;
    height: 400px;
    border: 2px solid #096333;
    border-radius: 8px;
    background-color: #c0c0c0;
    
}

p2{
	text-align:center;
    margin: 5px;
    padding: 5px;
    width: 18%;
    height: 30px;
    border: 2px solid #096333;
    border-radius: 8px;
    float: left;
    
    
}

p3{
    color: #096333;
    clear: both;
    text-align:center;
    
}

button{
    background-color: #096333;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 0px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button.department{
	text-align: justify;
	width: 100%;
    background-color: #096333;
    border: none;
    color: white;
    padding: 25px;
    margin: 0px;
    text-align: left;
    text-decoration: none;
    font-size: 28px;
}

button.home{
	text-align: justify;
	width: 100%;
    background-color: #096333;
    border: none;
    color: white;
    padding: 25px;
    margin: 0px;
    text-align: left;
    text-decoration: none;
    font-size: 28px;
}

button.flags{
	position:absolute;
	width: 25%;
    background-color: #096333;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 0px 0px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
button.giveAdvice{
	float: right;
	width: 15%;
	text-align: center;
	margin-top:15px;
}
button.giveAdviceFade{
	float: right;
	width: 15%;
	text-align: center;
	margin-top:15px;
}
button.sortAdvice{
	background-color: #096333;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 0px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#flag_content{
	text-align:right;
}
.label{
	float:left;
}

.giveAdviceMessage{
	float:right;
	margin-top:25px;
}

<!--giveAdvice CSS-->
.tableRatings{
	position:absolute;
}
.tableRatingsLower{
	
	margin-right:0;
}
.tableRatingsBottom{
	
	margin-top:-2%;
}
<!--End giveAdvice-->
.activateButtons{
	float: right;
}
<!--Select-box CSS-->
.select-box{
   height: 29px;
   overflow: hidden;
   width: 240px;
   color:white;
}
.select-box select{
   background-color: #096333;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px;
   width: 268px;
   float:left;
   color:white;
   margin-left: 35%;
   margin-right: -35%
   
}

	